*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
    max-width: 100%;
    display: block;
  }

ul[class],
ol[class] {
  list-style:none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 0;
    transition: 0.5s;
}
a:hover{
    color: #00AFDB;
    border-bottom: 1px solid #00AFDB;
    transition: 0.5s;
}
.active{
    border-bottom: 1px solid #ffffff;
}

@mixin flexible () {
    display: flex;
    align-items: center;
  }
  @mixin button() {
      width: 185px;
      height: 46px;
    background: #00AFDB;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    transition: 0.3s;
    &:hover{
        background-color: #009CC2;
        cursor: pointer;
        transition: 0.5s;
    }
}
body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 1600px; 
    min-height: 100%;
    margin: 0 auto;
}
.header{
    @include flexible ();
    justify-content: center;
    height: 95px; 
}
.webdev_h1{
    display: none;
}
.menu{
    width: 583px;
    margin-left: -13px;
  }
.menu__list{
    @include flexible ();
    justify-content: space-between;
    color: white;
   margin: 0;
}

.menu__item{
    list-style-type: none;
    font-size: 0.9em ;
    font-style: normal;
    font-weight: normal;
}
.menu__logo{
   margin:0 16px 0 16px;
}

.your_life{
    height: 745px;
    background: url('assets/image/bg-image.png') center center/cover no-repeat;
    margin-top: -96px;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.your_life__item{
    @include flexible ();
    flex-direction: column;
    margin-top: 139px; 
}
.your_life__item__header{
    font-weight: bold;
    font-size: 3.9em;
    letter-spacing: 5.35px;
    margin-left: 6px;
}
.your_life__item__description{
    width: 470px;
    text-align: center;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 21px;
    font-weight: 400;
    letter-spacing: 1px;
  
}
.your_life__item__button{
    @include button;
}
.your_life__item_social{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    width: 170px;
    margin-top: 183px;
    a{
        border: none;
        &:hover{
            filter: opacity(50%);
        }
    }
}
.rappresent{
    height: 842px;
    color: #000000;
    @include flexible ();
    justify-content: center;

}
.rappresent__content_card{
    width: 407px;
    height: 233px;
    margin-right: 248px;
    margin-top: -21px;
}
.rappresent__content_block__header{
    width: 370px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.rappresent__content_block__description{
    margin: 20px 0;
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.rappresent__content_block__button{
    @include button;  
    margin-top: 10px;
}
.rappresent__content-image{
    margin-top: -20px;
}
.our_community{
    height: 504px;
    background-color: #F5F6F7;
    @include flexible ();
    justify-content: flex-end;
    position: relative;
}
.our_community__content_card{
    @include flexible ();
    justify-content: center;
    flex-direction: column;
    width: 298px;
    height: 175px;
    margin-right: 140px;
    margin-top: -20px;
}
.our_community__content_card__icon{
    margin-bottom: 20px;
}
.our_community__content_card__header{
    text-transform: uppercase; 
    font-size: 1em;
    letter-spacing: 2.4px;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}
.our_community__content_card__description{
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-top: 1px;
}
.our_community__slider{
    width: 894px;
    @include flexible ();
    justify-content: flex-start;
    overflow: hidden;
    margin-top: -20px;
}
.pagination{
    position: absolute;
    top:70px;
    right: 260px;
   
}
.pagination_next,
.pagination_prev{
    font-size: 1.8em;
    margin: 0px 11px 0 11px;
    transition: 0.5s;
    &:hover{
        color:#00AFDB;
        cursor: pointer;
        transition: 0.5s;
    }
}
.our_community__slider__slide{
    margin-right: 30px;
}
.implement_right_code{
    height: 842px;
    @include flexible ();
    justify-content: center;
}
.implement_right_code__content-image{
    margin-top: -20px; 
}
.implement_right_code__content_card{
    display: flex;
    flex-direction: column;
    width: 407px;
    height: 184px;
    margin-left: 139px;
    margin-top: -22px;
    margin-right: 110px;
}
.implement_right_code__content_card__header{
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.implement_right_code__content_card__description{
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-top: 20px;
    margin-bottom: 31px;
}
.implement_right_code__content_card__button{
    @include button;  
    width: 180px;
    text-transform: uppercase;
}
.newsletter_sign_up{
    @include flexible ();
    justify-content: center;
    height: 524px;
    background-image: url('assets/image/pexels-christina-morillo.png');
    background-position: center -615px;
    color: #FFFFFF;
}
.newsletter_sign_up__content{
    width: 406px;
}
.newsletter_sign_up__content__header{
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 2.4px;
    margin-top: -21px;
    text-align: center;
}
.newsletter_sign_up__form{
    height: 46px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter_sign_up__form__input{
    height: 100%;
    width: 340px;
    border: none;
    padding-left: 23px;
}
.newsletter_sign_up__form__input:focus{
    outline: none;
}
.newsletter_sign_up__form__button{
    @include button;
    width: 66px; 
    height: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.newsletter_sign_up__form__button:hover .newsletter_sign_up__form__button_img{
    filter: invert(1);
    transition: 0.5s;
}
.download_the_app{
    height: 464px;
    background-color: #F5F6F7;
    @include flexible ();
    justify-content: center;
    
}
.download_the_app__content{
    @include flexible ();
    justify-content: center;
    flex-direction: column;
    width: 488px;
}
.download_the_app__content__header{
    font-size: 1.35em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 21px;
   margin-top: -61px;
   margin-left: 3px;
}
.download_the_app__content__description{
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 31px;
    text-align: center;

}
.download_the_app__content__download{
    @include flexible ();
}
.download_the_app__content__download__button_apple{
    @include button;
    @include flexible ();
    justify-content: space-between;
    margin-right: 30px;
    height: 46px;
    width: 186px;
    transition: 0.5s;
}
.download_the_app__content__download__button_apple_text,
.download_the_app__content__download__button_google_text{
    width: 136px;
    height: 46px;
    padding-right: 15px;
    @include flexible ();
    justify-content: center; 
    text-transform: uppercase;
    transition: 0.5s;
    &:hover{
       text-decoration: underline;
       transition: 0.5s;
    }
    &:hover .download_the_app__content__download__button_apple_logo{
        filter: invert(1);
    }
}
.download_the_app__content__download__button_apple:hover .download_the_app__content__download__button_apple_logo,
.download_the_app__content__download__button_google:hover .download_the_app__content__download__button_google_logo{
    filter: invert(9);
    transition: 0.5s;
}
.download_the_app__content__download__button_google_logo,
.download_the_app__content__download__button_apple_logo{
    width: 70px;
    background-color: #009CC2;
    height: 46px;
    margin-right: -15px;
    @include flexible ();
    justify-content: center;
}

.download_the_app__content__download__button_google{
    @include button;
    @include flexible ();
    justify-content: space-between;
    height: 46px;
    width: 186px;
}
.footer{
    height: 185px;
    background-color: #000000;
    @include flexible ();
   justify-content: center;
    color: #FFFFFF;
}
.footer_wrapper{
    width: 1280px;
    height: 45px;
    @include flexible ();
    justify-content: space-between;
    margin-top: -20px;
}

.footer__menu_list{
    @include flexible ();
    justify-content: space-between;
    font-size: 0.9em;
}
.footer__menu_list__item:first-child{
    margin-left: 0px;
}
.footer__menu_list__item{
    list-style-type: none;
    
}
.footer__menu_list__item::after{
content: '|';
    font-size: 9px;
    margin-left: 20px;
    margin-right: 17px;
}
.footer__menu_list__item:last-child::after{
   display: none;
}
.footer__logo{
   margin-left: -69px;
}
.footer__text{
    color: #818181;
    font-size: 0.9em;
    letter-spacing: -0.2px;
}