*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
    max-width: 100%;
    display: block;
  }

ul[class],
ol[class] {
  list-style:none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 0;
    transition: 0.5s;
}
a:hover{
    color: #00AFDB;
    border-bottom: 1px solid #00AFDB;
    transition: 0.5s;
}
.active{
    border-bottom: 1px solid #ffffff;
}

@mixin flexible () {
    display: flex;
    align-items: center;
  }
  @mixin button() {
      width: 185px;
      height: 46px;
    background: #00AFDB;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    transition: 0.3s;
    &:hover{
        background-color: #009CC2;
        cursor: pointer;
        transition: 0.5s;
    }
}
body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 1600px; 
    min-height: 100%;
    margin: 0 auto;
}
.header{
    @include flexible ();
    justify-content: center;
    height: 95px; 
}
.webdev_h1{
    display: none;
}
.menu{
    width: 583px;
    margin-left: -13px;
  }
.menu__list{
    @include flexible ();
    justify-content: space-between;
    color: white;
   margin: 0;
}

.menu__item{
    list-style-type: none;
    font-size: 0.9em ;
    font-style: normal;
    font-weight: normal;
}
.menu__logo{
   margin:0 16px 0 16px;
}

.your_life{
    height: 745px;
    background: url('assets/image/bg-image.png') center center/cover no-repeat;
    margin-top: -96px;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.your_life__item{
    @include flexible ();
    flex-direction: column;
    margin-top: 139px; 
}
.your_life__item__header{
    font-weight: bold;
    font-size: 3.9em;
    letter-spacing: 5.35px;
    margin-left: 6px;
}
.your_life__item__description{
    width: 470px;
    text-align: center;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 21px;
    font-weight: 400;
    letter-spacing: 1px;
  
}
.your_life__item__button{
    @include button;
}
.your_life__item_social{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    width: 170px;
    margin-top: 183px;
}
.your_life__item_social__mail{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99781 0C4.51913 0 0.035774 4.45778 0.000227016 9.93778C-0.0175465 12.6089 1.00887 15.1289 2.88397 17.0267C4.75908 18.9289 7.26514 19.9822 9.9356 20C9.9356 20 9.99781 20 10.0023 20C15.4809 20 19.9643 15.5422 19.9998 10.0622C20.0309 4.55111 15.5742 0.0355556 9.99781 0ZM17.8537 13.6089L13.8858 10L17.8581 6.39111C18.3736 7.50667 18.6579 8.74667 18.6491 10.0533C18.6402 11.32 18.3558 12.5244 17.8537 13.6089ZM10.0511 1.34667C13.0415 1.36444 15.672 2.90667 17.2138 5.23111L9.99781 11.7911L7.50064 9.52L2.79066 5.24C4.3414 2.89778 7.01187 1.34667 10.0511 1.34667ZM2.14193 6.39111L6.10986 10L2.13304 13.6133C1.60873 12.48 1.33768 11.2311 1.34657 9.94667C1.35546 8.68 1.63983 7.47556 2.14193 6.39111ZM9.99781 18.6533H9.94005C7.62949 18.64 5.46557 17.7244 3.8393 16.08C3.4394 15.6756 3.08393 15.2356 2.77289 14.7689L7.06519 10.8711L9.56236 13.1378C9.68678 13.2489 9.84229 13.3067 9.99781 13.3067C10.1533 13.3067 10.3088 13.2489 10.4333 13.1378L12.9304 10.8711L17.2138 14.7644C15.6587 17.1022 13.0015 18.6533 9.99781 18.6533Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    &:hover{
        border: none;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='602' width='802' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath stroke='%23d44638' id='svg_1' fill='%23d44638' d='m9.99781,0c-5.47868,0 -9.96204,4.45778 -9.99758,9.93778c-0.01778,2.67112 1.00864,5.19112 2.88374,7.08892c1.87511,1.9022 4.38117,2.9555 7.05163,2.9733c0,0 0.06221,0 0.0667,0c5.4786,0 9.962,-4.4578 9.9975,-9.9378c0.0311,-5.51109 -4.4256,-10.02664 -10.00199,-10.0622zm7.85589,13.6089l-3.9679,-3.6089l3.9723,-3.60889c0.5155,1.11556 0.7998,2.35556 0.791,3.66219c-0.0089,1.2667 -0.2933,2.4711 -0.7954,3.5556zm-7.8026,-12.26223c2.9904,0.01777 5.6209,1.56 7.1627,3.88444l-7.21599,6.55999l-2.49717,-2.2711l-4.70998,-4.28c1.55074,-2.34222 4.22121,-3.89333 7.26044,-3.89333zm-7.90917,5.04444l3.96793,3.60889l-3.97682,3.6133c-0.52431,-1.1333 -0.79536,-2.3822 -0.78647,-3.66663c0.00889,-1.26667 0.29326,-2.47111 0.79536,-3.55556zm7.85588,12.26219l-0.05776,0c-2.31056,-0.0133 -4.47448,-0.9289 -6.10075,-2.5733c-0.3999,-0.4044 -0.75537,-0.8444 -1.06641,-1.3111l4.2923,-3.8978l2.49717,2.2667c0.12442,0.1111 0.27993,0.1689 0.43545,0.1689c0.15549,0 0.31099,-0.0578 0.43549,-0.1689l2.4971,-2.2667l4.2834,3.8933c-1.5551,2.3378 -4.2123,3.8889 -7.21599,3.8889z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
.your_life__item_social__insta{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5787 4.42128C15.7785 4.62103 15.8907 4.89196 15.8907 5.17447C15.8907 5.45697 15.7785 5.7279 15.5787 5.92766C15.379 6.12742 15.108 6.23964 14.8255 6.23964C14.543 6.23964 14.2721 6.12742 14.0723 5.92766C14.0248 5.87675 13.9808 5.82273 13.9404 5.76596C13.9011 5.70726 13.8683 5.64448 13.8426 5.57872C13.8163 5.51559 13.7963 5.45003 13.783 5.38298C13.7767 5.31361 13.7767 5.24383 13.783 5.17447C13.7848 4.89258 13.8962 4.62246 14.0936 4.42128C14.1436 4.37274 14.1977 4.3286 14.2553 4.28936C14.3711 4.21159 14.5013 4.15804 14.6383 4.13191C14.8068 4.10123 14.9801 4.1115 15.1438 4.16185C15.3075 4.21221 15.4566 4.30119 15.5787 4.42128ZM14.1149 10C14.1149 10.8138 13.8736 11.6094 13.4214 12.2861C12.9693 12.9628 12.3266 13.4902 11.5747 13.8017C10.8228 14.1131 9.99544 14.1946 9.19723 14.0358C8.39902 13.877 7.66581 13.4851 7.09033 12.9097C6.51486 12.3342 6.12295 11.601 5.96418 10.8028C5.8054 10.0046 5.88689 9.17719 6.19834 8.4253C6.50978 7.6734 7.0372 7.03074 7.71389 6.57859C8.39058 6.12644 9.18615 5.8851 10 5.8851C11.091 5.88623 12.137 6.32013 12.9084 7.09157C13.6799 7.86302 14.1138 8.90901 14.1149 10ZM12.8383 10C12.8383 9.43863 12.6718 8.88988 12.36 8.42312C12.0481 7.95637 11.6048 7.59258 11.0862 7.37775C10.5675 7.16293 9.99685 7.10672 9.44628 7.21624C8.8957 7.32575 8.38997 7.59608 7.99302 7.99302C7.59608 8.38996 7.32576 8.8957 7.21624 9.44627C7.10673 9.99685 7.16293 10.5675 7.37776 11.0862C7.59258 11.6048 7.95637 12.0481 8.42313 12.36C8.88988 12.6718 9.43864 12.8383 10 12.8383C10.7528 12.8383 11.4747 12.5393 12.007 12.007C12.5393 11.4747 12.8383 10.7528 12.8383 10ZM20 10C20 11.9778 19.4135 13.9112 18.3147 15.5557C17.2159 17.2002 15.6541 18.4819 13.8268 19.2388C11.9996 19.9957 9.98891 20.1937 8.0491 19.8078C6.10929 19.422 4.32746 18.4696 2.92894 17.0711C1.53041 15.6725 0.578004 13.8907 0.192152 11.9509C-0.1937 10.0111 0.00433284 8.00042 0.761209 6.17316C1.51809 4.3459 2.79981 2.78412 4.4443 1.6853C6.08879 0.58649 8.02219 0 10 0C12.6515 0.0022537 15.1937 1.05655 17.0686 2.93142C18.9435 4.8063 19.9977 7.34852 20 10ZM18.7234 10C18.7234 8.27467 18.2118 6.58809 17.2532 5.15353C16.2947 3.71898 14.9323 2.60088 13.3383 1.94062C11.7443 1.28037 9.99032 1.10762 8.29815 1.44421C6.60598 1.78081 5.05161 2.61163 3.83162 3.83162C2.61164 5.05161 1.78081 6.60597 1.44422 8.29815C1.10762 9.99032 1.28038 11.7443 1.94063 13.3383C2.60088 14.9323 3.71898 16.2947 5.15354 17.2532C6.5881 18.2118 8.27468 18.7234 10 18.7234C12.3126 18.72 14.5294 17.7999 16.1646 16.1646C17.7999 14.5294 18.72 12.3126 18.7234 10Z' fill='white'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    &:hover{
        border: none;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='602' width='802' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' fill='%23833ab4' d='m15.5787,4.56212c0.1998,0.19975 0.312,0.47068 0.312,0.75319c0,0.2825 -0.1122,0.55343 -0.312,0.75319c-0.1997,0.19976 -0.4707,0.31198 -0.7532,0.31198c-0.2825,0 -0.5534,-0.11222 -0.7532,-0.31198c-0.0475,-0.05091 -0.0915,-0.10493 -0.1319,-0.1617c-0.0393,-0.0587 -0.0721,-0.12148 -0.0978,-0.18724c-0.0263,-0.06313 -0.0463,-0.12869 -0.0596,-0.19574c-0.0063,-0.06937 -0.0063,-0.13915 0,-0.20851c0.0018,-0.28189 0.1132,-0.55201 0.3106,-0.75319c0.05,-0.04854 0.1041,-0.09268 0.1617,-0.13192c0.1158,-0.07777 0.246,-0.13132 0.383,-0.15745c0.1685,-0.03068 0.3418,-0.02041 0.5055,0.02994c0.1637,0.05036 0.3128,0.13934 0.4349,0.25943zm-1.4638,5.57872c0,0.8138 -0.2413,1.6094 -0.6935,2.2861c-0.4521,0.6767 -1.0948,1.2041 -1.8467,1.5156c-0.7519,0.3114 -1.57926,0.3929 -2.37747,0.2341c-0.79821,-0.1588 -1.53142,-0.5507 -2.1069,-1.1261c-0.57547,-0.5755 -0.96738,-1.3087 -1.12615,-2.1069c-0.15878,-0.7982 -0.07729,-1.62561 0.23416,-2.3775c0.31144,-0.7519 0.83886,-1.39456 1.51555,-1.84671c0.67669,-0.45215 1.47226,-0.69349 2.28611,-0.69349c1.091,0.00113 2.137,0.43503 2.9084,1.20647c0.7715,0.77145 1.2054,1.81744 1.2065,2.90843zm-1.2766,0c0,-0.56137 -0.1665,-1.11012 -0.4783,-1.57688c-0.3119,-0.46675 -0.7552,-0.83054 -1.2738,-1.04537c-0.5187,-0.21482 -1.08935,-0.27103 -1.63992,-0.16151c-0.55058,0.10951 -1.05631,0.37984 -1.45326,0.77678c-0.39694,0.39694 -0.66726,0.90268 -0.77678,1.45325c-0.10951,0.55058 -0.05331,1.12123 0.16152,1.63993c0.21482,0.5186 0.57861,0.9619 1.04537,1.2738c0.46675,0.3118 1.01551,0.4783 1.57687,0.4783c0.7528,0 1.4747,-0.299 2.007,-0.8313c0.5323,-0.5323 0.8313,-1.2542 0.8313,-2.007zm7.1617,0c0,1.9778 -0.5865,3.9112 -1.6853,5.5557c-1.0988,1.6445 -2.6606,2.9262 -4.4879,3.6831c-1.8272,0.7569 -3.83789,0.9549 -5.7777,0.569c-1.93981,-0.3858 -3.72164,-1.3382 -5.12016,-2.7367c-1.39853,-1.3986 -2.35094,-3.1804 -2.73679,-5.1202c-0.38585,-1.9398 -0.18782,-3.95048 0.56906,-5.77774c0.75688,-1.82726 2.0386,-3.38904 3.68309,-4.48786c1.64449,-1.09881 3.57789,-1.6853 5.5557,-1.6853c2.6515,0.00225 5.1937,1.05655 7.0686,2.93142c1.8749,1.87488 2.9291,4.4171 2.9314,7.06858zm-1.2766,0c0,-1.72533 -0.5116,-3.41191 -1.4702,-4.84647c-0.9585,-1.43455 -2.3209,-2.55265 -3.9149,-3.21291c-1.594,-0.66025 -3.34798,-0.833 -5.04015,-0.49641c-1.69217,0.3366 -3.24654,1.16742 -4.46653,2.38741c-1.21998,1.21999 -2.05081,2.77435 -2.3874,4.46653c-0.3366,1.69217 -0.16384,3.44615 0.49641,5.04015c0.66025,1.594 1.77835,2.9564 3.21291,3.9149c1.43456,0.9586 3.12114,1.4702 4.84646,1.4702c2.3126,-0.0034 4.5294,-0.9235 6.1646,-2.5588c1.6353,-1.6352 2.5554,-3.852 2.5588,-6.1646z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
.your_life__item_social__facebook{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.6955 6.937V8.314H7.6875V9.997H8.6955V15H10.7675V9.997H12.1575C12.1575 9.997 12.2885 9.19 12.3515 8.307H10.7755V7.157C10.7755 6.984 11.0015 6.753 11.2255 6.753H12.3535V5H10.8185C8.6445 5 8.6955 6.685 8.6955 6.937Z' fill='white'/%3E%3Ccircle cx='10' cy='10' r='9.35' stroke='white' stroke-width='1.3'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    &:hover{
        border: none;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='602' width='802' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' fill='%233b5998' d='m8.6955,6.937l0,1.377l-1.008,0l0,1.683l1.008,0l0,5.003l2.072,0l0,-5.003l1.39,0c0,0 0.131,-0.807 0.194,-1.69l-1.576,0l0,-1.15c0,-0.173 0.226,-0.404 0.45,-0.404l1.128,0l0,-1.753l-1.535,0c-2.174,0 -2.123,1.685 -2.123,1.937z'/%3E%3Ccircle fill='none' id='svg_2' stroke-width='1.3' stroke='%233b5998' r='9.35' cy='10' cx='10'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
.your_life__item_social__telegram{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.35' stroke='white' stroke-width='1.3'/%3E%3Cpath d='M11.603 9.733L9.357 8.685C9.161 8.594 9 8.696 9 8.913V10.887C9 11.104 9.161 11.206 9.357 11.115L11.602 10.067C11.799 9.975 11.799 9.825 11.603 9.733ZM10 13.8C5.086 13.8 5 13.357 5 9.9C5 6.443 5.086 6 10 6C14.914 6 15 6.443 15 9.9C15 13.357 14.914 13.8 10 13.8Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    &:hover{
        border: none;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='602' width='802' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Ccircle fill='none' id='svg_1' stroke-width='1.3' stroke='%23ff0000' r='9.35' cy='9.74684' cx='10'/%3E%3Cpath id='svg_2' fill='%23f41909' d='m11.603,9.733l-2.246,-1.048c-0.196,-0.091 -0.357,0.011 -0.357,0.228l0,1.974c0,0.217 0.161,0.319 0.357,0.228l2.245,-1.048c0.197,-0.092 0.197,-0.242 0.001,-0.334zm-1.603,4.067c-4.914,0 -5,-0.443 -5,-3.9c0,-3.457 0.086,-3.9 5,-3.9c4.914,0 5,0.443 5,3.9c0,3.457 -0.086,3.9 -5,3.9z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

.rappresent{
    height: 842px;
    color: #000000;
    @include flexible ();
    justify-content: center;

}
.rappresent__content_card{
    width: 407px;
    height: 233px;
    margin-right: 248px;
    margin-top: -21px;
}
.rappresent__content_block__header{
    width: 370px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.rappresent__content_block__description{
    margin: 20px 0;
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.rappresent__content_block__button{
    @include button;  
    margin-top: 10px;
}
.rappresent__content-image{
    margin-top: -20px;
}
.our_community{
    height: 504px;
    background-color: #F5F6F7;
    @include flexible ();
    justify-content: flex-end;
    position: relative;
}
.our_community__content_card{
    @include flexible ();
    justify-content: center;
    flex-direction: column;
    width: 298px;
    height: 175px;
    margin-right: 140px;
    margin-top: -20px;
}
.our_community__content_card__icon{
    margin-bottom: 20px;
}
.our_community__content_card__header{
    text-transform: uppercase; 
    font-size: 1em;
    letter-spacing: 2.4px;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}
.our_community__content_card__description{
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-top: 1px;
}
.our_community__slider{
    width: 894px;
    @include flexible ();
    justify-content: flex-start;
    overflow: hidden;
    margin-top: -20px;
}
.pagination{
    position: absolute;
    top:70px;
    right: 260px;
   
}
.pagination_next,
.pagination_prev{
    font-size: 1.8em;
    margin: 0px 11px 0 11px;
    transition: 0.5s;
    &:hover{
        color:#00AFDB;
        cursor: pointer;
        transition: 0.5s;
    }
}
.our_community__slider__slide{
    margin-right: 30px;
}
.implement_right_code{
    height: 842px;
    @include flexible ();
    justify-content: center;
}
.implement_right_code__content-image{
    margin-top: -20px; 
}
.implement_right_code__content_card{
    display: flex;
    flex-direction: column;
    width: 407px;
    height: 184px;
    margin-left: 139px;
    margin-top: -22px;
    margin-right: 110px;
}
.implement_right_code__content_card__header{
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.implement_right_code__content_card__description{
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-top: 20px;
    margin-bottom: 31px;
}
.implement_right_code__content_card__button{
    @include button;  
    width: 180px;
    text-transform: uppercase;
}
.newsletter_sign_up{
    @include flexible ();
    justify-content: center;
    height: 524px;
    background-image: url('assets/image/pexels-christina-morillo.png');
    background-position: center -615px;
    color: #FFFFFF;
}
.newsletter_sign_up__content{
    width: 406px;
}
.newsletter_sign_up__content__header{
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 2.4px;
    margin-top: -21px;
    text-align: center;
}
.newsletter_sign_up__form{
    height: 46px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter_sign_up__form__input{
    height: 100%;
    width: 340px;
    border: none;
    padding-left: 23px;
}
.newsletter_sign_up__form__input:focus{
    outline: none;
}
.newsletter_sign_up__form__button{
    @include button;
    width: 66px; 
    height: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.newsletter_sign_up__form__button:hover .newsletter_sign_up__form__button_img{
    filter: invert(1);
    transition: 0.5s;
}
.download_the_app{
    height: 464px;
    background-color: #F5F6F7;
    @include flexible ();
    justify-content: center;
    
}
.download_the_app__content{
    @include flexible ();
    justify-content: center;
    flex-direction: column;
    width: 488px;
}
.download_the_app__content__header{
    font-size: 1.35em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 21px;
   margin-top: -61px;
   margin-left: 3px;
}
.download_the_app__content__description{
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 31px;
    text-align: center;

}
.download_the_app__content__download{
    @include flexible ();
}
.download_the_app__content__download__button_apple{
    @include button;
    @include flexible ();
    justify-content: space-between;
    margin-right: 30px;
    height: 46px;
    width: 186px;
    transition: 0.5s;
}
.download_the_app__content__download__button_apple_text,
.download_the_app__content__download__button_google_text{
    width: 136px;
    height: 46px;
    padding-right: 15px;
    @include flexible ();
    justify-content: center; 
    text-transform: uppercase;
    transition: 0.5s;
    &:hover{
       text-decoration: underline;
       transition: 0.5s;
    }
    &:hover .download_the_app__content__download__button_apple_logo{
        filter: invert(1);
    }
}
.download_the_app__content__download__button_apple:hover .download_the_app__content__download__button_apple_logo img,
.download_the_app__content__download__button_google:hover .download_the_app__content__download__button_google_logo img{
    filter: invert(9);
    transition: 0.5s;
}
.download_the_app__content__download__button_apple:hover .download_the_app__content__download__button_apple_logo{
    background-color: white;
    transition: 0.5s;
}
.download_the_app__content__download__button_google:hover .download_the_app__content__download__button_google_logo{
    background-color: #a4c639;
    transition: 0.5s;
}
.download_the_app__content__download__button_google_logo,
.download_the_app__content__download__button_apple_logo{
    width: 70px;
    background-color: #009CC2;
    height: 46px;
    margin-right: -15px;
    @include flexible ();
    justify-content: center;
}

.download_the_app__content__download__button_google{
    @include button;
    @include flexible ();
    justify-content: space-between;
    height: 46px;
    width: 186px;
}
.footer{
    height: 185px;
    background-color: #000000;
    @include flexible ();
   justify-content: center;
    color: #FFFFFF;
}
.footer_wrapper{
    width: 1280px;
    height: 45px;
    @include flexible ();
    justify-content: space-between;
    margin-top: -20px;
}

.footer__menu_list{
    @include flexible ();
    justify-content: space-between;
    font-size: 0.9em;
}
.footer__menu_list__item:first-child{
    margin-left: 0px;
}
.footer__menu_list__item{
    list-style-type: none;
    
}
.footer__menu_list__item::after{
content: '|';
    font-size: 9px;
    margin-left: 20px;
    margin-right: 17px;
}
.footer__menu_list__item:last-child::after{
   display: none;
}
.footer__logo{
   margin-left: -69px;
}
.footer__text{
    color: #818181;
    font-size: 0.9em;
    letter-spacing: -0.2px;
}